/*.postsContent {
    filter: brightness(0.8);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(91, 71, 171);
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgb(101, 89, 150) 3px 3px 3px, rgb(101, 89, 150) -1em 0px 2.4em;
    background: content-box radial-gradient(rgb(71 79 252), rgb(10, 50, 63));
    animation: 4s linear 0s infinite alternate rotate;
    animation-duration: 2s;
}

@keyframes rotate {
    from {
        transition: 2s;
        background: content-box radial-gradient(rgb(252, 71, 71), rgb(10, 50, 63));
    }

    to {
        transition: 2s;
        background: content-box radial-gradient(rgb(71 79 252), rgb(10, 50, 63));
    }
}*/
.postsContent {
    filter: brightness(0.8);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(91, 71, 171);
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgb(101, 89, 150) 3px 3px 3px, rgb(101, 89, 150) -1em 0px 2.4em;
    background: content-box radial-gradient(rgb(71 79 252), rgb(10, 50, 63));
}
.postsPrevu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(91, 71, 171);
}

.postsDescription {
    text-align: center;
    height: 73px;
    overflow-y: hidden;
    overflow-wrap: break-word;
    color: aqua;
}

.postsLink {
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    color: aqua;
}

.postsLink:hover {
    transition: 0.5s;
    color: rgb(162, 255, 1);
}

.postsContent:hover {
    transition: 0.5s;
    filter: brightness(1);
}