.content {
    max-width: 600px;
    min-width: 375px;
    height: fit-content;
    border: 1px solid rgb(91, 71, 171);
    border-radius: 5px;
    box-shadow: rgb(101, 89, 150) 3px 3px 3px, rgb(101, 89, 150) -1em 0px 2.4em;
    text-align: center;
    padding: 20px;
}

.input {
    margin-bottom: 3px;
    border: 2px solid rgb(157, 148, 233);
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;
}