.myLink {
    filter: brightness(0.5);
    transition: 0.5s;
    text-decoration: none;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    border: 1px solid rgb(91, 71, 171);
    background: rgb(178, 198, 243);
    height: 100%;
    justify-content: center;
    padding: 5px;
    color: blue;
}

.myLink:hover {
    transition: 0.5s;
    filter: brightness(1);
}

.myLinkA {
    transition: 0.5s;
    text-decoration: none;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    border: 1px solid rgb(91, 71, 171);
    background: rgb(178, 198, 243);
    height: 100%;
    justify-content: center;
    padding: 5px;
    color: blue;
}

.myLinkA:hover {
    transition: 0.5s;
    background: rgb(39 50 75);
}

.header {
    display: flex;
    width: 95%;
    border: 1px solid rgb(91, 71, 171);
    margin: 0 auto;
    box-shadow: rgb(101, 89, 150) 3px 3px 3px, rgb(101, 89, 150) -1em 0px 2.4em;
    flex-flow: wrap;
    place-content: center;
    padding: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.myconteiner {
    max-width: 1280px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-right: 5px;
}

.footer {
    display: flex;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(91, 71, 171);
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgb(101, 89, 150) 3px 3px 3px, rgb(101, 89, 150) -1em 0px 2.4em;
    flex-flow: wrap;
    place-content: center;
    padding: 5px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.headerToSort {
    display: none;
    width: 85%;
    border: 1px solid rgb(91, 71, 171);
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgb(101, 89, 150) 3px 3px 3px, rgb(101, 89, 150) -1em 0px 2.4em;
    flex-flow: wrap;
    place-content: center;
    padding: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}

.headerToSortVisibl {
    position: absolute;
    top: 110%;
    border: 1px solid #5b47ab;
    box-shadow: 3px 3px 3px #655996, -1em 0 2.4em #655996;
    display: flex;
    flex-flow: wrap;
    place-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    z-index: 2;
}

.myLinkOn {
    position: relative;
    transition: 1.0s;
    text-decoration: none;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    border: 1px solid rgb(91, 71, 171);
    box-shadow: rgb(101, 89, 150) 0px 3px 10px;
    background: rgb(178, 198, 243);
    height: 100%;
    justify-content: center;
    padding: 5px;
    color: blue;
    align-items: center;
}

@media (max-width: 550px) {
    .myLinkA {
        font-size: 12px;
    }
    .myLinkOn {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .myLinkA {
        font-size: 10px;
    }
    .myLinkOn {
        font-size: 10px;
    }
}